{
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:react/jsx-runtime",
      "plugin:react-hooks/recommended",
      "prettier"
    ],
    "env": {
      "browser": true
    },
    "parserOptions": {
      "ecmaVersion": "latest",
      "ecmaFeatures": {
        "jsx": true
      },
      "sourceType": "module"
    },
    "settings": {
      "react": {
        "version": "detect"
      }
    },
    "rules": {
      "react/prop-types": "off",
      "no-unused-vars": "warn"
    }
  }